.home-container {
    height: 100vh;
    width: 100vw;
    background-color: orange;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
}

.home-title {
    padding-top: 30px;
    height: 50px;
    line-height: 20px;
}

.home-btn {
    height: 35px;
    width: 80px;
    font-size: 15px;
    color: green;
    border-radius: 5px;
    border: 1px solid green;
    box-shadow: 10px 10px 10px green;
}

.home-btn:focus {
    outline: none;
}